<?xml version="1.0" encoding="UTF-8"?>
<launch>

<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find raptor_robot)/urdf/raptor.urdf.xacro'"/>

<arg name="x" default="0"/>
<arg name="y" default="0"/>
<arg name="z" default="0.5"/>

<node name="raptor_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param robot_description -model raptor -x $(arg x) -y $(arg y) -z $(arg z)"/>

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>