<?xml version="1.0"?>

<launch>
    <param name="robot_description" command="cat $(find raptor_robot)/urdf/raptor.urdf" />
	
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- odrive diff node listening to cmd_vel and publish odom -->

    <node pkg="tf" type="static_transform_publisher" name="base_foot_bc" args="0 0 0 0 0 0 base_link base_footprint 100" />
    
    <node pkg="tf" type="static_transform_publisher" name="base_cam_bc" args="-0.16 0 0.93 0 0 0 base_link camera_link 100" />
    
    <!--
    <include file="$(find raptor_robot)/launch/raptor_rviz.launch" />
    <include file="$(find raptor_robot)/launch/raptor_teleop.launch" />
    -->
    
</launch>
