<?xml version="1.0"?>

<launch>
    
    <include file="$(find raptor_robot)/launch/raptor_rsp.launch" />

    <include file="$(find raptor_robot)/launch/include/shoes.launch" />
    <include file="$(find raptor_robot)/launch/include/mpu6050.launch" />
    
    <node pkg="tf" type="static_transform_publisher" name="base_foot_bc" args="0 0 0 0 0 0 base_link base_footprint 100" />  
    <node pkg="tf" type="static_transform_publisher" name="base_cam_bc" args="-0.16 0 0.93 0 0 0 base_link camera_link 100" />

    <node name="rc_proxy" pkg="raptor_robot" type="rc_arduino_proxy.py" />
    <include file="$(find raptor_robot)/launch/include/home_map.launch" />
    <include file="$(find raptor_robot)/launch/include/rplidar.launch" />

    <include file="$(find raptor_robot)/launch/include/usb_cam.launch" />

    <include file="$(find raptor_robot)/launch/include/amcl_diff.launch" />
<!--
    <include file="$(find raptor_robot)/launch/include/ekf_filter.launch" />
    <include file="$(find raptor_robot)/launch/include/rs_rgbd.launch" />
-->
</launch>